<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
    <a class="navbar-brand font-weight-bold h5 text-uppercase text-white" routerLink='/'>Angular Anatomy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class="mr-auto"></div>
    <ul class="navbar-nav font-weight-bold h5 text-uppercase">

      <li *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/dashboard' >Dashboard <span class="text-danger" *ngIf="authService.isLoggedIn()">Welcome - {{authService.getUsername()}}</span> </a>
      </li>
      <li *ngIf="authService.isLoggedIn() && !authService.isAdmin() " class="nav-item " routerLinkActive='active'>
        <a class="nav-link" routerLink='/dashboard' >Welcome <span class="text-danger" *ngIf="authService.isLoggedIn()">{{authService.getUsername()}}</span> </a>
      </li>
      <!-- <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/profile' >Profile</a>
        </li> -->
      <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/login' >Login</a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='/register' >Register</a>
      </li>

      <li *ngIf="authService.isLoggedIn()" class="nav-item">
          <a class="nav-link pointer" (click)="onLogout()" >Log out</a>
      </li>
    </ul>
  </div>
</nav>
