 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">What is Angular?</h1>
      <p>
          Angular is a platform that makes it easy to build applications with the web.
           Angular is a framework for building client applications in HTML and either
          JavaScript or a language like TypeScript that compiles to JavaScript.
      </p>
      <p>
          Angular combines declarative templates, dependency injection,
          end to end tooling, and integrated best practices to solve development challenges. Angular empowers
           developers to build applications that live on the web, mobile, or the desktop.
      </p>

      <p>
          Angular (commonly referred to as "Angular 2+" or "Angular 2") is a
          TypeScript-based open-source front-end web application platform led by the
           Angular Team
           (of Bad Guys) at Google and by a community of individuals and corporations.
      </p>
      <p>
        <a class="btn btn-primary btn-lg float-right" href="https://angular.io/docs" target="_blank" role="button">Learn more &raquo;</a>
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
          euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
    </div>

    <hr>

  </div>
  <!-- /container -->
